<div class="jumbotron"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://i.imgur.com/S0NVPlE.jpg" alt="Chania">
          <h1 id="cText1">STORIES FROM THE WORLD</h1>
          <h3 id="cText2">&mdash; Where your thoughts and dreams come alive &mdash;</h3>
      </div>

      <div class="item">
        <img src="http://i.imgur.com/8L7kGiz.jpg" alt="Chania">
          <h1 id="cText1">STORIES FROM THE WORLD</h1>
          <h3 id="cText2">&mdash; Where your thoughts and dreams come alive &mdash;</h3>
      </div>

      <div class="item">
        <img src="http://i.imgur.com/MMCMLUL.jpg" alt="Flower">
          <h1 id="cText1">STORIES FROM THE WORLD</h1>
          <h3 id="cText2">&mdash; Where your thoughts and dreams come alive &mdash;</h3>
      </div>
    </div>

    <!-- Left and right controls -->

  </div>




</div>

<center>  <h3>A place to share a story with the world</h3></center>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum neque a ex fermentum congue. Praesent eu commodo nulla. Pellentesque a suscipit metus. Vestibulum bibendum consequat dolor, sit amet gravida enim accumsan et. Suspendisse euismod vulputate felis, eget tincidunt nisi aliquam ut. Ut at ligula ante. Duis blandit hendrerit massa, non ullamcorper purus gravida vitae. Vivamus euismod bibendum eros, quis auctor arcu dignissim non.

Fusce et lobortis odio. Cras tellus quam, feugiat ac orci eu, viverra imperdiet risus. Suspendisse a ultricies libero. Cras et massa imperdiet, molestie massa laoreet, euismod odio. Praesent sed dignissim ex. Aenean a vestibulum libero. Aenean accumsan dolor ut erat facilisis tincidunt. Aliquam vel mattis nulla. Nunc sed tortor rhoncus, tincidunt nisl sed, rutrum libero. Etiam faucibus pulvinar ex, nec aliquet orci egestas quis.</p>
