// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body > div > h1 {
	font-family: 'Pacifico', cursive;
	padding-bottom: 25px;
}

body > div > a {
	margin-left: 10px;
}