

/*#myCarousel {
	height: auto;
}*/

#cText1 {
	margin-top: -275px;
	color: red;
	text-align: center;
	margin-bottom: auto;
	margin-top: center;
	position:  absolute;
	margin-left: 35px;

}

.carousel-indicators {
	margin-bottom: 50px;
}